:root {
    --bg-dark: #333;

    --txt: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: var(--bg-dark);
    color: var(--txt);
}

.wrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.left {
  border: 1px solid #ffffff;
  width: 100%;
  text-align: center;
}

.right {
  border: 1px solid #ffffff;
  width: 100%;
  text-align: center;
}
