:root {
  color-scheme: light dark;

  /* COLORS */
  --black: #070709;
  --white: #ffffff;
  --yellow: #f6d653;

  --fg: light-dark(var(--black), var(--white));
  --bg: light-dark(var(--white), var(--black));
}

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--fg);
    font-size: 36px;
}