:root {
  color-scheme: light dark;

  /* COLORS */
  --black: #070709;
  --white: #ffffff;
  --yellow: #f6d653;

  --fg: light-dark(var(--black), var(--white));
  --bg: light-dark(var(--white), var(--black));
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-size: 36px;
}

.swipe {
  display: grid;
  grid-template-columns: auto 1fr auto;
  overflow-x: auto;
  border-block: 1px solid #666;
  scroll-snap-type: x mandatory;

  > :nth-child(2) {
    width: 100vw;
    padding: 10px 20px;
    scroll-snap-align: center;
  }

  &.hold {
    > * {
      &:first-child {
        scroll-snap-align: start;
      }

      &:last-child {
        scroll-snap-align: end;
      }
    }
  }
}
